<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Paranormal</title>
  </head>
  <body>
    <h1>Login</h1>

    <form action="/api/v1/user/token" method="post">
      <label for="username">Username:</label>
      <input type="email" name="username" id="username" />
      <br />

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      <br />

      <input type="hidden" name="redirect_uri" value="{{.RedirectURI}}" />

      <input type="submit" value="Login" />
    </form>

    <p>You're logging in using Paranormal's built-in OAuth 2.0 server.</p>
  </body>
</html>
